body {
  margin: 0 auto;
  background: #222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvas {
  background-image: -webkit-linear-gradient(-135deg, white, #EEE);
  background-image: -moz-linear-gradient(-135deg, white, #EEE);
  background-image: -o-linear-gradient(-135deg, white, #EEE);
  background-image: linear-gradient(-135deg, white, #EEE);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}

#button_clear {
  background: black;
  position: fixed;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  border: none;
}

#alltools {
  position: absolute;
  top: 65px;
}

#tools_option {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  background: #111;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#tools_option .option_name {
  display: inline-block;
  margin: 10px 10px;
  font-family: arial;
  color: #ccc;
}

#tools_option .option {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 35px;
}

#tools_option input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none;
  background: #222;
  margin: 0 auto;
  margin-top: 9px;
  width: 100px;
}

#tools_option input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  background-color: #888;
  opacity: 0.5;
  width: 10px;
  height: 20px;
}

#tools_option .option:hover > input[type="text"] {
  display: block;
}

#tools_option input[type="text"] {
  position: absolute;
  width: 90px;
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 5px;
  margin-top: 1px;
  margin-left: -1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  display: none;
}

#logo {
  display: inline-block;
  padding: 0 15px;
  height: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(#222, #111);
  cursor: pointer;
}

#logo h1 {
  margin: 0 auto;
  margin-top: -5px;
}

#logo a {
  color: #CCC;
  font-family: arial;
  font-size: 0.48em;
  text-decoration: none;
}

#options {
  display: inline-block;
  vertical-align: top;
}

#type_of_option {
  display: inline-block;
  color: #CCC;
  font-family: arial;
  background: black;
  vertical-align: top;
  margin-left: -5px;
  padding: 8px;
  padding-bottom: 7px;
}

#type_of_option b:hover {
  opacity: 1;
}

.tools {
  font-family: arial;
  color: #aaa;
  z-index: 10;
  background: #111;
  padding: 5px;
  overflow: hidden;
  height: 35px;
  width: 90px;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-left: none;
}

.tools:hover {
  height: 300px;
}

.tools:focus {
  height: 300px;
}

.tools div {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  width: 47%;
  height: 35px;
}

input[type="radio"]:hover {
  background: rgba(255, 255, 255, 0.5);
}

input[type="radio"]:active {
  opacity: 0.5;
}

input[type="radio"]:checked {
  outline: 1px solid #aaa;
  box-shadow: inset 0 0 0 1px #777;
}